@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
  background-color: lightblue;
}
.header{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Indie Flower', cursive;

}
.container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.container input {
  width: 200px;
  height: 30px;
  border-color: #3846e7;
  padding: 5px;
  padding-left: 30px;
}

.App-link {
  color: #61dafb;
}

.math-B-day{
  margin-left: 25px;
}

@media only screen and (max-width: 900px) {
  .container{
    flex-direction: column;
  }
}
